.login-container{
    background-position: center; 
    
}
.login-form{
    margin: 0 auto;
    margin-top: 70px;
   max-width: 500px;
    height: 500px;
background: #282726; 
    padding-bottom: 7%;
    padding: 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
}
.form-control{
    padding-left: 30px;  
}

.fa {
    position: absolute;
    color: #282726; 
    margin-top: 11px;
    margin-left: 10px;}
    .fa-eye{
        
        right: 65px;
        cursor: pointer;
    }
.fa-facebook {
    margin-left: 37px;
    border-radius: 50px;
    padding: 2%;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    background: #3B5998;
    color: white;}
    .fa-twitter  {
      margin-left: 210px;
    background: #55ACEE;
    color: white;
    padding: 2%;
    font-size: 30px;
    width: 60px;
    text-align: center;
    border-radius: 60px;
    text-decoration: none;}
  .fa-google-plus {
      display: flex;
      margin-left: 120px;
    background: #dd4b39;
    color: white;
    padding: 2%;
    font-size: 30px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    
     }
   h2 { 
    display: flex; 
    flex-direction: row; 
} 
 h2:before, 
  h2:after { 
      content: ""; 
      flex: 1 1; 
      border-bottom: 2px solid white;
      margin: auto;  } 
    #h2{
    position: relative;
    margin: 25px 0 15px;
    color: #b7c9cc;
    text-align: center;
}
.btnSubmit{
    font-weight: 600;
    width: 30%;
    color:rgb(14, 11, 11);
    background-color: white;
    border: none;
    border-radius: 1.5rem;
     padding:2%;
     
}
.btnsignup{
    color: white;
    font-weight: 600;
    text-decoration: none;
    }
